body {
    background: #000;
    color: #fff;
}

/* ----- Início estilização da Barra de Navegação ----- */
.container-links {
    margin: 54px auto;
    display: flex;
    justify-content: center;
    gap: 191px;
    align-items: center;
}

.container-links li a {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    color: #fff;
}

.container-links li {
    list-style: none;
}

.container-links #home a {
    font-weight: 700;
    font-size: 40px;
}

.container-links #contato {
    border: 2px solid #fff;
    padding: 12px;
    border-radius: 30px;
}
/* ----- Fim estilização da Barra de Navegação ----- */

